.res thead th {
  background-color: #1d96b2;
  border: 1px solid white;
  font-weight: normal;
  text-align: center;
  color: white;
}
.thcenter {
  text-align: center;
}
.hr {
  display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-top: 1px solid #00BCD4;
}